<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" #side>
    <div class="profile">

    </div>
    <mat-list class="list list--color" (click)="side.close()">
      <mat-list-item> <a routerLink="/login" routerLinkActive="active">Login</a> </mat-list-item>
      <mat-list-item> <a routerLink="/dashboard" routerLinkActive="active">Dashbord</a> </mat-list-item>
      <mat-list-item> <a routerLink="/courses" routerLinkActive="active">Courses</a> </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <mat-toolbar-row>

        <span>My App</span>
        <span class="example-spacer"></span>
        <div fxFlex></div>
        <mat-list fxLayout="row" class="list" fxHide.xs fxLayoutGap="10px">
          <mat-list-item> <a routerLink="/login">Login</a> </mat-list-item>
          <mat-list-item> <a routerLink="/dashboard">Dashbord</a> </mat-list-item>
          <mat-list-item> <a routerLink="/courses">Courses</a> </mat-list-item>
        </mat-list>
        <span fxHide.gt-xs>
          <button mat-button (click)="side.toggle()">
            <mat-icon>
              menu
            </mat-icon>
          </button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>